#project-info{
  display: flex;
  flex-direction: row;
}

#project-list-item{
  font: "Open Sans";
  font-size: 20px;
}

#link-container{
  margin-right: auto;
  margin-left: 40px
}

.Link{
  text-align: right
}