.App {
  text-align: center;
}

.MuiAvatar-root{
  display: flex;
  align-items: center;
  align-content: center;
}

.MuiBox-root{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 20px
}

/* .MuiContainer {
  text-align: center;
  align-content: center;
} */

.MuiTypography-h1 {
  font-family: "Montserrat";
  font-weight: bold;
  color: #1D2542;
  text-align: center;
}

.MuiTypography-h2 {
  font-family: "Montserrat";
  font-weight: bold;
  color: #1D2542;
  text-align: center;
}


.MuiTypography-h3 {
  font-family: "Montserrat";
  color: #C2364F;
  text-align: center;
}

.MuiTypography-h4 {
  font-family: "Montserrat";
  color: #1D2542;
  text-align: center;
}

.MuiTypography-h5 {
  font-family: "Montserrat";
  color: #C2364F;
  text-align: center;
}

.MuiTypography-h6 {
  font-family: "Montserrat";
  font-weight: bold;
  color: #1D2542;
  text-align: center;
  font-size:30px
}

.MuiTypography-body1 {
  font-family: "Open Sans";
  font-weight: lighter;
  text-align: center;
  font-size: 28px;
}


#list-item{
  font: "Open Sans";
  font-size: 16px
}

.MuiListItem-root{
  display: list-item
}

.MuiList-root{
  list-style-type: "-";
}

.img{
  position: relative
}